NET "clk" LOC= "E3" | IOSTANDARD = "LVCMOS33";

NET "add"		CLOCK_DEDICATED_ROUTE = FALSE;
NET "add" 			LOC	= "T16" 	| IOSTANDARD = LVCMOS33;
NET "enable" 	CLOCK_DEDICATED_ROUTE = FALSE;
NET "enable" 		LOC 	= "E16"	| IOSTANDARD = LVCMOS33;	
NET "set" 		CLOCK_DEDICATED_ROUTE = FALSE;
NET "set" 			LOC 	= "V10"	| IOSTANDARD = LVCMOS33;	
NET "reset" 	CLOCK_DEDICATED_ROUTE = FALSE;
NET "reset" 		LOC 	= "F15"	| IOSTANDARD = LVCMOS33;

//I/O PUERTO Pmod JA
NET "sw<0>" 		LOC	= "B13"	| IOSTANDARD = LVCMOS33;	//Pin 1
NET "sw<1>" 		LOC	= "G13"	| IOSTANDARD = LVCMOS33;	//Pin 7
NET "LCD_RS" 		LOC	= "F14"	| IOSTANDARD = LVCMOS33;	//Pin 2
NET "LCD_RW" 		LOC	= "C17"	| IOSTANDARD = LVCMOS33;	//Pin 8
NET "LCD_E" 		LOC	= "D17"	| IOSTANDARD = LVCMOS33;	//Pin 3


//I/O PUERTO Pmod JB
NET "LCD_DB<0>" 	LOC	= "G14"	| IOSTANDARD = LVCMOS33;	//Pin 1
NET "LCD_DB<1>" 	LOC	= "P15"	| IOSTANDARD = LVCMOS33;	//Pin 2
NET "LCD_DB<2>" 	LOC	= "V11"	| IOSTANDARD = LVCMOS33;	//Pin 3
NET "LCD_DB<3>" 	LOC	= "V15"	| IOSTANDARD = LVCMOS33;	//Pin 4
NET "LCD_DB<4>" 	LOC	= "K16"	| IOSTANDARD = LVCMOS33;	//Pin 7
NET "LCD_DB<5>" 	LOC	= "R16"	| IOSTANDARD = LVCMOS33;	//Pin 8
NET "LCD_DB<6>" 	LOC	= "T9"	| IOSTANDARD = LVCMOS33;	//Pin 9
NET "LCD_DB<7>" 	LOC	= "U11"	| IOSTANDARD = LVCMOS33;	//Pin 10


