NET "disp<0>" LOC = "L3" | IOSTANDARD = "LVCMOS33";
NET "disp<1>" LOC = "N1" | IOSTANDARD = "LVCMOS33";
NET "disp<2>" LOC = "L5" | IOSTANDARD = "LVCMOS33";
NET "disp<3>" LOC = "L4" | IOSTANDARD = "LVCMOS33";
NET "disp<4>" LOC = "K3" | IOSTANDARD = "LVCMOS33";
NET "disp<5>" LOC = "M2" | IOSTANDARD = "LVCMOS33";
NET "disp<6>" LOC = "L6" | IOSTANDARD = "LVCMOS33";
NET "disp<7>" LOC = "M4" | IOSTANDARD = "LVCMOS33";

NET "anodes<0>" LOC = "N6" | IOSTANDARD = "LVCMOS33";
NET "anodes<1>" LOC = "M6" | IOSTANDARD = "LVCMOS33";
NET "anodes<2>" LOC = "M3" | IOSTANDARD = "LVCMOS33";
NET "anodes<3>" LOC = "N5" | IOSTANDARD = "LVCMOS33";
NET "anodes<4>" LOC = "N2" | IOSTANDARD = "LVCMOS33";
NET "anodes<5>" LOC = "N4" | IOSTANDARD = "LVCMOS33";
NET "anodes<6>" LOC = "L1" | IOSTANDARD = "LVCMOS33";
NET "anodes<7>" LOC = "M1" | IOSTANDARD = "LVCMOS33";

NET "A<0>" LOC = "P4" | IOSTANDARD = "LVCMOS33";
NET "A<1>" LOC = "P3" | IOSTANDARD = "LVCMOS33";
NET "A<2>" LOC = "R3" | IOSTANDARD = "LVCMOS33";
NET "B<0>" LOC = "T1" | IOSTANDARD = "LVCMOS33";
NET "B<1>" LOC = "T3" | IOSTANDARD = "LVCMOS33";
NET "B<2>" LOC = "U2" | IOSTANDARD = "LVCMOS33";
