NET "clk" LOC= "E3" | IOSTANDARD = "LVCMOS33";

//NET "btn" CLOCK_DEDICATED_ROUTE = FALSE;
//NET "btn" LOC= "E16" | IOSTANDARD = LVCMOS33;
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
NET "reset" LOC= "E16" | IOSTANDARD = LVCMOS33;

NET "sw<0>" LOC= "U9"| IOSTANDARD = LVCMOS33;
NET "sw<1>" LOC= "U8"| IOSTANDARD = LVCMOS33;
NET "sw<2>" LOC= "R7"| IOSTANDARD = LVCMOS33;

NET "seg<0>" LOC = "L3" | IOSTANDARD = "LVCMOS33";
NET "seg<1>" LOC = "N1" | IOSTANDARD = "LVCMOS33";
NET "seg<2>" LOC = "L5" | IOSTANDARD = "LVCMOS33";
NET "seg<3>" LOC = "L4" | IOSTANDARD = "LVCMOS33";
NET "seg<4>" LOC = "K3" | IOSTANDARD = "LVCMOS33";
NET "seg<5>" LOC = "M2" | IOSTANDARD = "LVCMOS33";
NET "seg<6>" LOC = "L6" | IOSTANDARD = "LVCMOS33";

NET "an<0>" LOC = "N6" | IOSTANDARD = "LVCMOS33";
NET "an<1>" LOC = "M6" | IOSTANDARD = "LVCMOS33";
NET "an<2>" LOC = "M3" | IOSTANDARD = "LVCMOS33";
NET "an<3>" LOC = "N5" | IOSTANDARD = "LVCMOS33";